
.jumbotron{
    background-color: black;
    color: white;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}


.option-shop{
    flex: 1 200px;
    
    margin-top: 10px;
    
}

.btn-seemore{
    width: 100%;
    border-radius: 0px;
}

.btn-collapse{
    margin-bottom: 5px;
}