@black: #030305;
@white: #fcfdff;
@yellow:#effa19;
@red:#db1d0f;
@green: #37db25;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
    padding-top:@top;
    padding-right:@right;
    padding-bottom:@bottom;   
    padding-left: @left;
}


.jumbotron {
    background-color: @red;
    color: @white;
    border-radius: 0px; 
    .margenes(50px, 10px);}
  
  footer {
    background-color: @black;
    color: @white ;
    .margenes(10px);
    .paddings(10px,10px,0px,10px);
   }
  
  .option-shop {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px;
    .margenes(10px, 0px); }
  
  .btn-seemore {
    width: 100%;
    border-radius: 0px; }
  
  .btn-collapse {
    margin-top: 0px;
    margin-bottom: 5px; 
    .margenes(0px, 5px); }
  