$black: #030305;
$white: #fcfdff;

$yellow:#effa19;
$red:#db1d0f;
$green: #37db25;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left){
    padding-top:$top ;
    padding-right:$right ;
    padding-bottom: $bottom;   
    padding-left: $left;
}

.jumbotron{
    background-color: $black;
    color: $white;
    @include margenes(50px, 10px);
    border-radius: 0px;
}

footer{
    //padding: 10px 10px 0 10px;
    
    background-color: $black;
    color: $white;
    @include margenes(10px, 0px);
    @include paddings(10px, 10px, 0 ,10px );
    /*margin-bottom: 0px;
    margin-top: 10px;*/
}


.option-shop{
    flex: 1 200px;
    @include margenes(10px, 0px );
    //margin-top: 10px;
    
}

.btn-seemore{
    width: 100%;
    border-radius: 0px;
}

.btn-collapse{
    @include margenes(0px, 5px);
    //margin-bottom: 5px;
}