.jumbotron {
  background-color: #030305;
  color: #fcfdff;
  border-radius: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
}
footer {
  background-color: #030305;
  color: #fcfdff;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}
.option-shop {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-seemore {
  width: 100%;
  border-radius: 0px;
}
.btn-collapse {
  margin-top: 0px;
  margin-bottom: 5px;
}
